body {
    background-color: #232936;
    color: aliceblue;
    margin-left: 15%;
    margin-right: 30%;
}
p{
    font-size: 20px;
}

ul {
    font-size: 20px;
}
ol {
    font-size: 20px;
}


h2{
    font-size: 30px;
    color: #F3AA60;
}

h3{
    font-size: 25px;
    color: #F3AA60;
   
}

.font-size-25{
    font-size: 50px;
}
